*{
 margin: 0px;
padding: 0px;
}
body{
    background-color: rgb(169, 244, 219);
border-radius: 5px;
}
form{
    
    margin:auto;
    width: 300px;
    background-color: rgb(229,244,233);
    padding: 20 px;
    border:0;
    border-color: chartreuse;
    height: 300px;
    border-radius: 3px;
    color: rgb(21, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

